.voolt-marketing{
    background-color: #1F2328;
    position: relative;
    overflow: hidden;
    padding-bottom: 75px;
    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-bottom: 200px solid #0094FF;
        bottom: -50px;
    }
    .in-main{
        background: rgb(170,170,170);
        background: linear-gradient(180deg, rgb(92, 94, 98) 0%, rgba(31,35,40,1) 76%, rgba(31,35,40,1) 100%);
        border-radius: 40px;
        padding: 2px;
        position: relative;
        z-index: 2;
        padding-bottom: 0;
        .in-all{
            background: rgb(50,53,57);
            background: linear-gradient(180deg, rgba(50,53,57,1) 0%, rgba(31,35,40,1) 76%, rgba(31,35,40,1) 100%);
            border-radius: 16px;
            display: flex;
            padding: 22px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 8px;
            border-radius: 40px;
            padding: 40px;
            padding-bottom: 0;
        }
    }
    .primary-button{
        max-width: 540px;
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .already-have-website{
        width: 100%;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
}

.marketing{
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: rgba(255, 255, 255, 0.24) 1px solid;
    padding-top: 70px;
    width: 100%;
    padding-bottom: 120px;
    position: relative;
    .marketing-img-1{
        position: absolute;
        right: calc(50% - 577px);
        bottom: 0;
    }
    .left{
        max-width: 564px;
    }
    .volt-type{
        position: relative;
        text-align: left;
        margin-left: -0px;
    }
    .list-type2{
        margin-top: 24px;
    }
}
.faq{
    text-align: center;
    width: 100%;
    margin-top: 152px;
    .faq-card{
        margin: auto;
        text-align: left;
        margin-top: 16px;
    }
    h2{
        text-align: center;
        margin-bottom: 47px;
    }
}

.grow{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 210, 10, 0.95);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 62px;
    border-radius: 40px;
    min-height: 544px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    align-items: center;
    position: relative;
    .grow-img1{
        position: absolute;
        right: 42px;
        bottom: 0;
    }
    .primary-button{
        max-width: 400px;
    }
    .left{
        max-width: 528px;
        text-align: left;
        h2{
            text-align: left;
        }
    }
}

@media(max-width: 1300px){
    .marketing .marketing-img-1{
        max-width: 340px;
        right: 0;
    }
    .marketing{
        padding-bottom: 20px;
    }
    .grow .grow-img1{
        max-width: 340px;
        right: 20px;
    }
    .grow{
        min-height: 400px;
        padding: 20px;
    }
    .grow .left{
        max-width: 500px;
    }
}
@media(max-width: 1000px){
    .marketing{
        padding-top: 0;
        border-bottom: 0;
        padding-bottom: 0;
        .left{
            max-width: 100%;
        }
        br{
            display: none;
        }
    }
    .marketing .marketing-img-1{
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        display: block;
        margin: auto;
        margin-top: 32px;
        width: 100%;
    }
    .marketing-img-div{
        border-bottom: rgba(255, 255, 255, 0.24) 1px solid;
    }
    .marketing .list-type2{
        max-width: 100%;
        li{
            min-height: 64px;
        }
    }
    .voolt-marketing .primary-button{
        max-width: 100%;
    }
    .grow .grow-img1{
        position: relative;
        margin: auto;
        margin-top: 48px;
        display: block;

        width: 100%;
        left: unset;
        right: unset;
    }
    .grow{
        flex-direction: column;
        padding-bottom: 0;
        .left{
            width: 100%;
            max-width: 100%;
        }
    }
}
@media(max-width: 768px){
    .voolt-marketing .in-main .in-all{
        padding: 24px;
        padding-bottom: 0;
    }
    .voolt-marketing .already-have-website{
        margin-top: 110px;
    }
    .faq{
        margin-top: 110px;
    }
    .faq-card .answer{
        p{
            font-size: 16px;
        }
    }
}

@media(max-width: 600px){
    .list-type2 li{
        width: 100%;
    }
}
@media(max-width: 450px){
    .voolt-marketing .in-main{
        margin-left: -15px;
        width: 100vw;
        padding: 2px;
    }
    .voolt-marketing .in-main .in-all{
        padding-left: 13px;
        padding-right: 13px;
    }
    .voolt-marketing{
        position: relative;
        z-index: 2;
    }
    .voolt-marketing::after{
        border-bottom: 130px solid #0094FF;
        bottom: -30px;
    }
}