.button-s{
    color: #FFF;
    border-radius: 35px;
    background: #0094FF;
    border: 0;

    padding: 0 8px 0 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-height: 48px;
}

.primary-button{
    color: #FFF;
    border-radius: 322px;
    background: #0094FF;
    box-shadow: 0px 12px 16px 0px rgba(0, 148, 255, 0.16);
    border: 0;

    max-width: 420px;
    text-align: center;
    width: 100%;

    padding: 0 90px 0 48px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-height: 72px;
    position: relative;
}

@media(max-width: 768px){
    .primary-button{
        padding: 0 70px 0 40px;
    }
}