.change-slider{
    padding-bottom: 70px;
    .cont{
        transition: all ease 0.5s;
    }
    .slick-current{
        z-index: 9999;
        position: relative;
    }
    .slick-slide{
        perspective: 1500px;
        transform: translate3d(0, 0, 0);
        transition: all ease 0.5s;
        .cont{
            transform: rotateY(0) scale(1);
        }
    }
    .slick-sprev{
        transform: translate3d(40%, 0, 0);
        .cont{
            transform: rotateY(-75deg) scale(0.7);
        }
    }
    .slick-snext{
        transform: translate3d(-40%, 0, 0);
        .cont{
            transform: rotateY(75deg) scale(0.7);
        }
    }
    
}

.range-in{
    .slick-arrow{
        font-size: 0;
        padding: 0;
        border: 0;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        position: absolute;
        left: calc(50% - 200px);
        bottom: 5px;
        z-index: 5;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none"><circle cx="32" cy="32" r="30.8571" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 64)" fill="%231F2328" stroke="%231F2328" stroke-width="2.28571"/><path d="M35.4286 20.5715L24.4041 31.596C24.1809 31.8192 24.1809 32.181 24.4041 32.4042L35.4286 43.4287" stroke="white" stroke-width="3.42857" stroke-linecap="round"/></svg>');
    }
    .slick-next{
        left: unset;
        right: calc(50% - 200px);
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none"><circle cx="32" cy="32" r="30.8571" transform="rotate(-180 32 32)" fill="%231F2328" stroke="%231F2328" stroke-width="2.28571"/><path d="M28.5714 20.5715L39.5959 31.596C39.8191 31.8192 39.8191 32.181 39.5959 32.4042L28.5714 43.4287" stroke="white" stroke-width="3.42857" stroke-linecap="round"/></svg>');
    }
    .slick-dots{
        display: flex;
        gap: 17px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        align-items: center;
        justify-content: center;
        button{
            border: 0;
            padding: 0;
            font-size: 0;
            width: 23px;
            height: 23px;
            background: transparent;
            border: 2px solid #1F2328;
            opacity: 0.3;
            border-radius: 100%;
            transition: all ease 0.5s;
        }
        .slick-active{
            
            button{
                opacity: 1;
                background-color: #1F2328;
            }
        }
    }
    .cont{
        position: relative;
    }
.container {
    position: relative;
    width: 851px;
    height: 450px;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    bottom: 0;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }
  .container .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 900px 100%;
  }
  .container .background-img {
    // background-image: url("../img/slider-change/old1.png");
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
  }
  .container .foreground-img {
    // background-image: url("../img/slider-change/new1.png");
    width: 50%;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: left top;
    }
  }
  .container .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .slider:hover {
    background: rgba(242, 242, 242, 0.1);
  }
  .container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 450px;
    background: #0594FA;
    cursor: pointer;
  }
  .container .slider::-moz-range-thumb {
    width: 6px;
    height: 600px;
    background: white;
    cursor: pointer;
  }
  .container .slider-button {
    pointer-events: none;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><ellipse cx="16.0001" cy="15.7331" rx="15.7062" ry="15.7062" fill="%23FFD20A"/><path d="M19.1413 22.0151L25.4238 15.7327L19.1413 9.45018" stroke="%232D3239" stroke-width="1.57062"/><path d="M12.8596 22.0156L6.57715 15.7331L12.8596 9.45066" stroke="%232D3239" stroke-width="1.57062"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    left: calc(50% - 21px);
    top: calc(50% - 21px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tag-c-slider{
    position: absolute;
    // z-index: 99;
    background-color: #fff;
    top: 16px;
    padding: 0 18px;
    border-radius: 8px;
    min-height: 44px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: calc(25% - 50px);
    transition: all ease 0.5s;
    box-shadow: 0px 1px 20.4px 0px rgba(0, 0, 0, 0.16);
}
.tag-c-before{
    right: unset;
    left: 163px;
}

.tag-c-slider--blue{
    background: var(--blue, #0594FA);
    color: #fff;
}

.you-can-slide-it{
    position: absolute;
    left: calc(50% - 230px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: end;
    gap: 5px;
    z-index: 9999;
    transition: all ease 0.5s;
    .box{
        border-radius: 8px;
        background: #FFF;
        padding: 10px;
    }
}

.tag-c-slider--remove{
    opacity: 0;
    visibility: hidden;
}

.change-slider .cont .container:hover{
    .you-can-slide-it, .tag-c-slider{
        opacity: 0;
        visibility: hidden;
    }
}

@media(max-width: 768px){
    .tag-c-slider{
        font-size: 14px;
        min-height: 32px;
        padding: 0 14px;
        min-width: unset;
        width: unset;
        right: 50px;
        
    }
    .tag-c-befor{
        right: unset;
        left: 40px;
    }
    .you-can-slide-it{
        left: calc(50% - 145px);
        gap: 3px;
        svg{
            max-width: 30px;
        }
        .box{
            font-size: 10px;
            padding: 3px 7px;
        }
    }
    .range-in .container .slider-button{
        left: calc(50% - 17px);
    }
}