.faq-card{
    max-width: 865px;
    background: rgb(92,94,98);
    background: linear-gradient(180deg, rgba(92,94,98,1) 0%, rgba(42,45,50,1) 100%);
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    &:before{
        content: "";
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        background: linear-gradient(268deg, rgba(255, 255, 255, 0.10) 0.38%, rgba(255, 255, 255, 0.00) 162.14%);
        border-radius: 16px;
        transition: all ease 0.5s;
    }

    .question{
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        position: relative;
        cursor: pointer;
        padding-right: 45px;
        .arrow-right{
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease 0.5s;
        }
    }
    .answer{
        overflow: hidden;
        max-height: 0;
        transition: all ease 0.5s;
        z-index: 2;
        position: relative;
        .inner{
            padding: 24px;
            padding-top: 0;
        }
    }
}
.faq-card--active{
    .question{
        .arrow-right{
            transform: translateY(-50%) rotate(180deg);
        }
    }
    .answer{
        margin-top: -16px;
    }
}


@media(max-width: 500px){
    .faq-card .question .arrow-right{
        right: 10px;
    }
}