.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 864px;
    flex-wrap: wrap;
    li{
        border-radius: 45px;
        background: rgb(92, 94, 98);
        background: linear-gradient(-90deg, rgb(92, 94, 98) 0%, rgb(42, 45, 50) 100%);
        padding: 16px 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.list-type2{
    max-width: 540px;
    li{
        width: calc(50% - 4px);
        border-radius: 8px;
        padding: 8px 16px;
        justify-content: start;


        background: rgb(92, 94, 98);
        background: linear-gradient(180deg, rgb(92, 94, 98) 0%, rgb(42, 45, 50) 100%);
        position: relative;
        cursor: pointer;
        &:before{
            background: rgb(92, 94, 98);
            background: linear-gradient(-90deg, rgb(92, 94, 98) 0%, rgb(42, 45, 50) 100%);
            content: "";
            position: absolute;
            left: 1px;
            top: 1px;
            bottom: 1px;
            right: 1px;
            border-radius: 8px;
            z-index: 1;
        }
        *{
            z-index: 2;
        }

        svg{
            min-width: 32px;
        }
    }
}

@media(max-width: 450px){
    .list li{
        padding: 10px 24px;
    }
}